/* Buttons */
.btn-principal {
    background-color: #4B3869;
    color: #fff;
}

.btn-principal:hover {
    background-color: #1A132F;
    color: #fff;
}

.btn-cantidad:hover {
    background-color: #f8f9fa;
}

/* Text */
.text-principal {
    color: #4B3869;
}

/* Images */
.img-carrito {
    width: 9rem;
    object-fit: cover;
    border-radius: .8rem;
}

/* Cards */
.card-radius {
    border-radius: 1rem;
}

.height-auto {
    height: auto;
}

/* Tables */
.border-table {
    border-bottom: 2px solid #000000;
}