.card-radius {
    border-radius: 1.5rem;
}

.height-auto {
    height: auto;
}

.border-table {
    border-bottom: 2px solid #000000;
}

.btn-principal {
    background-color: #4B3869;
    color: #fff;
}

.btn-principal:hover {
    background-color: #1A132F;
    color: #fff;
}

.text-principal {
    color: #4B3869;
}

.img-carrito {
    width: 9rem;
    object-fit: cover;
}

.text-principal {
    color: #4B3869;
}