
.btn-principal {
    background-color: #4B3869;
    color: #ffffff;
    }
    
.btn-principal:hover {
    background-color: #5b3894;
    color: #ffffff;
    }

h2{
    font-family:'Sigmar One', cursive;
}

