body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: #ffffff;
}

.imgNav{
    width: 10%;
}

#nav{
    border-top: 1px solid white;
}

.container{
    padding-left: 0px;
}

.navbar{
    padding-left: 0px;
}

.prueba{
    border: 1px solid red;
}

.lista {
    list-style: none;
    margin: 0;
    padding: 0
}

.bg-principal {
    background-color: #1A132F;
}