* {
	box-sizing: border-box;
}



.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
	height: 100%;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color:rgb(0, 0, 0);
	/* opacity: 20%; */
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__anterior1,
.carousel__siguiente1 {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color:rgb(0, 0, 0);
	/* opacity: 20%; */
}

.carousel__anterior1:hover,
.carousel__siguiente1:hover {
	opacity: 100%;
}

.carousel__anterior1 {
	left: -30px;
}

.carousel__siguiente1 {
	right: -30px;
}

/* .carousel__lista {
	overflow: hidden;
} */

.carousel__anterior2,
.carousel__siguiente2 {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color:rgb(0, 0, 0);
	/* opacity: 20%; */
}

.carousel__anterior2:hover,
.carousel__siguiente2:hover {
	opacity: 100%;
}

.carousel__anterior2 {
	left: -30px;
}

.carousel__siguiente2 {
	right: -30px;
}

.carousel__elemento {
	text-align: center;
	
}

/* .carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: black;
	opacity: .2;
	border-radius: 0;
} */

/* .carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

.carousel__indicadores1 .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: black;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores1 .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores1 .glider-dot.active {
	opacity: 1;
} */

p{
    margin: 0;
	padding: 0;
}

.tituloGlider{
	/* font-family: "Sigmar One", cursive;
	font-size: 1.1rem; */
	font-weight: bold;
	font-size: 1rem;
}


@media screen and (min-width: 250px) and (max-width: 376px) {
    #divGlider{
		margin-top: 1rem;
		margin-bottom: 2rem;
        width: 90%;
    }
    /* #indicadores{
        display: none;
    } */
    .img-carousel{
        height: 90%;
		border: 1px solid rgba(0, 0, 0, 0.142);
		border-radius: 2%;
    }

	.carousel__elemento{
		margin-right: 0.4rem;
		margin-left: 0.4rem;
	}
}

@media screen and (min-height: 300px) and (max-height: 400px) {
	/* .contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	} */

	.img-carousel{
        height: 90%;
		border: 1px solid rgba(0, 0, 0, 0.142);
		border-radius: 2%;
    }
	.carousel__elemento{
		margin-right: 0.4rem;
		margin-left: 0.4rem;
	}

	#indicadores{
        display: none;
    }

	#divGlider{
        width: 90%;
		margin-top: 1rem;
		margin-bottom: 2rem;
    }
}


@media screen and (min-width: 377px) and (max-width: 575px) {
    #divGlider{
        width: 90%;
		margin-top: 1rem;
		margin-bottom: 2rem;
    }
    #indicadores{
        display: none;
    }
    .img-carousel{
        height: 90%;
		border: 1px solid rgba(0, 0, 0, 0.142);
		border-radius: 2%;
    }
	.carousel__elemento{
		margin-right: 0.4rem;
		margin-left: 0.4rem;
	}
}

@media screen and (min-width: 576px) and (max-width: 800px) {
	/* .contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	} */

	.img-carousel{
        height: 90%;
		border: 1px solid rgba(0, 0, 0, 0.142);
		border-radius: 2%;
    }
	.carousel__elemento{
		margin-left: 1rem;
		margin-right: 1rem;
	}

	#indicadores{
        display: none;
    }

	#divGlider{
        width: 90%;
		margin-top: 1rem;
		margin-bottom: 2rem;
    }
	.tituloGlider{
		/* font-family: "Sigmar One", cursive;
		font-size: 1.1rem; */
		font-weight: bold;
		font-size: 1rem;
	}
}


@media screen and (min-width: 801px) and (max-width: 1023px) {

	.img-carousel{
        height: 90%;
		border: 1px solid rgba(0, 0, 0, 0.142);
		border-radius: 2%;
    }
	.carousel__elemento{
		margin-left: 1rem;
		margin-right: 1rem;
	}

	#indicadores{
        display: none;
    }

	#divGlider{
        width: 90%;
		margin-top: 1rem;
		margin-bottom: 2rem;
    }
	.tituloGlider{
		/* font-family: "Sigmar One", cursive;
		font-size: 1.1rem; */
		font-weight: bold;
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {

	.img-carousel{
        height: 85%;
		border: 1px solid rgba(0, 0, 0, 0.142);
		border-radius: 2%;
    }
	.carousel__elemento{
		margin-left: 1rem;
		margin-right: 1rem;
	}

	#indicadores{
        display: none;
    }

	#divGlider{
        width: 90%;
		margin-top: 2rem;
		margin-bottom: 5rem;
    }
	.tituloGlider{
		/* font-family: "Sigmar One", cursive;
		font-size: 1.1rem; */
		font-weight: bold;
		font-size: 1rem;
		/* padding-top: 1rem; */
	}
}




