body{
    /* background: linear-gradient(to right, #4b00e0be, #8E2DE2); */
}



/*clase cuadros, para cada slide*/
.cuadros{   
    border-radius: .16667em;
    text-align: center;
    height: 500%;
    /* width: 150px; */
    line-height: 100%;
    /* -webkit-box-shadow: inset 0 0 0 2px hsla(0,0%,100%,.5);
    box-shadow: inset 0 0 0 2px hsla(0,0%,100%,.5); */
    color: #fff;
    background: transparent;
    font-size: 1em;
    font-weight: 900;
    border: none;
}

/*Cuando el cuadro obtiene el foco cambia el color*/
.cuadros[class*=active] {   
    box-shadow: none;
    /* background: linear-gradient(to right, #00f260, #0575e6); */
    color: black;
}

.cuadros[class*=active] .img{
    border-image: linear-gradient(to right, #3acfd5, #3a4ed5) 1;
}

.img{
    width: 100%;
    border: 3px solid transparent;
    /* object-fit: cover;
    object-position: center center; */
}
.cuadros{
    color: transparent;
    
}
.cuadros[class*=active] {   
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

#borde{
    border: none;
}
.cuadros[class*=active] .titulo {
    padding-bottom: 0.5rem;
}

#bordeFlechas{
    color: black;
}
.titulo{
    font-size: 1rem;
}

#contenedor{
    margin: 0 auto;
    width: 85%;
    /* height: 100%; */
}
#contenedorMini{
    margin: 0 auto;
    width: 100%;
}
.imgMini{
    width: 100%;
}

@media screen and (min-width: 250px) and (max-width: 575px) {
    .titulo{
        font-size: 0.38rem;
    }
    .cuadros[class*=active] .titulo{
        padding-bottom: 0rem;    
    }
    #contenedor{
        width: 75%;
    }
}

@media screen and (min-width: 576px) and (max-width: 750px) {
    .titulo{
        font-size: 0.65rem;
    }
}

@media screen and (min-width: 751px) and (max-width: 900px) {
    .titulo{
        font-size: 0.8rem;
    }
}

