:root{
    --alturaNav: 0px;
}

#divBanner{
    width:100%;   
    margin-bottom: 2rem;
    
}

/* .img-bannerindex{
    height: calc(90vh - (var(--alturaNav)));
    
} */


.img-carousel{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    /* border: 1px solid red; */
}


#btnFlechaAdelante{
    background-color: red;
}

p{
    margin: 0;
}

