.titulo {
    font-family: "Sigmar One", cursive;
  }
  
  .btn-principal {
    background-color: #4b3869;
    color: #ffffff;
  }
  
  .btn-principal:hover {
    background-color: #5b3894;
    color: #ffffff;
  }

/*   .img-ch{
    width: 85%;
  } */