body{
  background-color: white;
}

.titulo {
  font-family: "Sigmar One", cursive;
}

.btn-principal {
  background-color: #4b3869;
  color: #ffffff;
}

.btn-principal:hover {
  background-color: #5b3894;
  color: #ffffff;
}

.img-producto {
  cursor: pointer;
}

.efecto:hover {
  background-color: #4b3869;
  color: white;
}

/* #imagen-principal{
  border: 1px solid white;
  border-image: linear-gradient(to right, #3acfd5, #3a4ed5) 1;
  border-width: 0.15rem;
}

#imagen-principal:hover{
  border: 1px solid white;
  border-image: linear-gradient(to right, #3acfd5, #3a4ed5) 1;
  border-width: 0.35rem;
} */

.img-fluid{
  border: 1px solid white;
  border-image: linear-gradient(to right, #3acfd5, #3a4ed5) 1;
  border-width: 0.15rem;
  /* height: 100%; */
  margin-bottom: 1rem;
}

.img-fluid:hover{
  border: 1px solid white;
  border-image: linear-gradient(to right, #3acfd5, #3a4ed5) 1;
  border-width: 0.25rem;
}

/* #imagen-principal .img-fluid{
    border: none;
    margin: 0;
} */

/* #imagen-principal{
  border: 1px solid white;
  border-image: linear-gradient(to right, #3acfd5, #3a4ed5) 1;
  border-width: 0.15rem;
} */

#imagenes-productos{
  /* height: 100%; */
  /* display: flex;
  justify-content: center; */
}

#divImgChicas{
  height: 100%;
}


