.titulo{

    font-family: 'Sigmar One', cursive;
    text-align: center;
}


.div-Busqueda{

    width: 100%;
    height: 10vh;
    border: 1px solid white ;


}
/* talla tamaño  */
.btn-tamano{
    width: 100%;
    height: 50%;


}
/* filtro talla */
.efecto:hover{
 background-color: #4B3869;
 color:white;
}

/* tamaño del filtro color  */
.btnxs{

    width: 30px;
    height: 30px;
    border-radius: 50%;

   }

/* color de filtro  */

#bt-b{

   background-color: white; 
}

#bt-a{

    background-color: blue;

}

#bt-m{

    background-color: blueviolet;
}

#bt-n{
    background-color: black;
}

.card{
    height: 100%;
    position: relative;
    border-radius: 0%;
}

/* posicion del corazon negro arriba de la card */
.cora{
    position: absolute;
    top: 5px;
    left:85%;
    
}

/* boton que esta colocado adentro de la imagen y que va directo al carrito */

.btn-carrito{

    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #4B3869;
    color: white;
    display: none;

}

.card-img-top{

    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;

}
.img-card{

     width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.btn{
    border-bottom: 0px;
    background-color: #4B3869;
    color: white;
    border-radius: 1rem;

}
#capa, #mensaje{
    padding: 10px;   
}

#mensaje{
    display: none;
}
   