body{
  background-color: white;
}
.titulo {
  font-family: "Sigmar One", cursive;
  text-align: center;
}

.div-Busqueda {
  width: 100%;
  height: 10vh;
  border: 1px solid white;
}
/* talla tamaño  */
.btn-tamano {
  width: 100%;
  height: 50%;
}

.efecto:hover {
  background-color: #4b3869;
  color: white;
}

/* tamaño del filtro color  */
.btn-color {
  width: 30px;
  height: 30px;
}

/* color de filtro  */

#bt-b {
  background-color: white;
}

#bt-a {
  background-color: blue;
}

#bt-m {
  background-color: blueviolet;
}

#bt-n {
  background-color: black;
}

.card {
  width: 100%;
  position: relative;
  border-radius: 0%;
  border-image: linear-gradient(to right, #3acfd5, #3a4ed5) 1;
  border-width: 0.05rem;
}

.card:hover{
  border-image: linear-gradient(to right, #3acfd5, #3a4ed5) 1;
  border-width: 0.15rem;
}

#cardFiltro{
  border: none;
}

/* posicion del corazon negro arriba de la card */
.cora {
  position: absolute;
  top: 5px;
  left: 85%;
  text-decoration: none !important;
  cursor: pointer;
}

.card-img-top {
  width: 100%;
  height: 25vh;
  /* object-fit: cover;
  object-position: center; */
}

/* .img-card {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
} */



#capa,
#mensaje {
  padding: 10px;
}

#mensaje {
  display: none;
}

.blanco {
  background-color: #ffffff;
}

.negro {
  background-color: #000000;
}

/* Buttons */
.btn-principal {
  background-color: #4b3869;
  color: #fff;
}

.btn-principal:hover {
  background-color: #1a132f;
  color: #fff;
}

.bg-azul {
  background-color: #1f01ff;
}

.bg-morado {
  background-color: #8a2be2;
}

.bg-negro {
  background-color: #000000;
}

.btn-talla {
  border: 2px solid black;
}

.btn-talla:hover {
  background-color: #4b3869;
  color: white;
}

.btn-talla-seleccionada {
  background-color: #4b3869;
  color: white;
}

.btn-color-seleccionado {
  border: 2px solid black !important;
}

@media screen and (min-width: 300px) and (max-width: 575px) {
  .card {
    width: 65%;
    height: 100%;
    position: relative;
    border-radius: 0%;
    margin: 0;
  }
  .card-img-top {
    width: 100%;
    height: 25vh;
    /* object-fit: cover;
    object-position: center; */
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0%;
    margin: 0;
  }
  .card-img-top {
    width: 100%;
    height: 20vh;
    /* object-fit: cover;
    object-position: center; */
  }
}