<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sigmar+One&display=swap"
    rel="stylesheet">
  <link href="../assets/css/estilos.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../assets/css/buscar-tiendas.css">
  <title>Proyecto Cygnus</title>
</head>

<body>
  <header>
    <div class="bg-principal" id="divNavSuperior">

    </div>

    <div class="bg-principal" id="divNavInferior">

    </div>
  </header>

  <main>

    <div class="container mt-5">
      <div class="row">

        <div class="col-sm-12 col-md-9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d876.8192494651989!2d-99.14003003612243!3d19.433867204492287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f92cbbfc35c3%3A0xaed19a7c62145fe2!2sBarojas%20Reyes%20Efrain!5e0!3m2!1ses-419!2smx!4v1653782286048!5m2!1ses-419!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="mapa"></iframe>
        </div>

        <div class="col-sm-12 col-md-3">
          
          <h5 class="card-title">Encuentra una tienda</h5>
                    
            
              <div class="card tienda" data-mapa="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.508611147081!2d-99.13946988578154!3d19.43362624568519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f92ccfd5df5b%3A0xe9b6e141fc8e036b!2sAv%20Francisco%20I.%20Madero%2C%20Centro%20Hist%C3%B3rico%20de%20la%20Cdad.%20de%20M%C3%A9xico%2C%20Centro%2C%2006000%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1654211275583!5m2!1ses-419!2smx">
                <div class="card-body pb-2">
                  <h5 class="card-title">Cygnus Store</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Av Francisco I. Madero 16, CenHistórico de Cdad. de México, Centro, Cuauhtémoc, 06000 Centro, CDMX</h6>
                </div>
              </div>
      
              <div class="card tienda" data-mapa="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.1365681781135!2d-99.15381788578132!3d19.4496778451758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8dbc7f643f7%3A0x1d9b7ca35f8b46c6!2sF%C3%B3rum%20Buenavista!5e0!3m2!1ses-419!2smx!4v1654211347467!5m2!1ses-419!2smx">
                <div class="card-body pb-2">
                  <h5 class="card-title">Cygnus Store</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Fórum Buenavista, Eje 1 Nte. 259, Buenavista, Cuauhtémoc, 06350 Ciudad de México, CDMX</h6>
                </div>
              </div>
              
              <div class="card tienda" data-mapa="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101251.18736979579!2d-99.1969926018795!3d19.42235135888941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d03a3d2ccf92f3b!2sParque%20Delta!5e0!3m2!1ses-419!2smx!4v1654211496449!5m2!1ses-419!2smx">
                <div class="card-body pb-2">
                  <h5 class="card-title">Cygnus Store</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Parque Delta, Av. Cuauhtémoc 462, Piedad Narvarte, Benito Juárez, 03000 Ciudad de México, CDMX</h6>
                </div>
              </div>
            

        </div>
        
      </div>
    </div>

  </main>

  <footer class="bg-principal mt-5 pt-5 pb-5 text-light text-uppercase">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-sm-12 col-md-4 pb-4 pb-md-0">
          <h4 class="font-weight-bold">Contáctanos</h4>
          <ul class="lista pt-4 font-weight-light">
            <li class="pb-4">55 1234 5678</li>
            <li class="pb-4">Síguenos</li>
          </ul>
          <div>
            <a href="https://www.facebook.com/profile.php?id=100081594083664">
              <i class="fa-brands fa-facebook-square h1 mx-2 text-light"></i>
            </a>
            <a href="https://www.instagram.com/proyecto_cygnus/">
              <i class="fa-brands fa-twitter-square h1 mx-2 text-light"></i>
            </a>
            <a href="https://twitter.com/proyecto_cygnus">
              <i class="fa-brands fa-instagram h1 mx-2 text-light"></i>
            </a>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 pb-4 pb-md-0">
          <h4 class="font-weight-bold">Ayuda</h4>
          <ul class="lista pt-4 font-weight-light hiper">
            <a href="contacto.html" class="text-light">
              <li class="pb-4">Contacto</li>
            </a>
            <a href="como-comprar.html" class="text-light">
              <li class="pb-4">¿Cómo comprar?</li>
            </a>
            <a href="envios-devoluciones.html" class="text-light">
              <li class="pb-4">Envios y devoluciones</li>
            </a>
            <a href="garantias.html" class="text-light">
              <li class="pb-4">Garantias</li>
            </a>
          </ul>
        </div>

        <div class="col-sm-12 col-md-4">
          <h4 class="font-weight-bold">Sobre Nosotros</h4>
          <ul class="lista pt-4 font-weight-light hiper">
            <a href="sobre-nosotros.html" class="text-light">
              <li class="pb-4">Nosotros</li>
            </a>
            <a href="buscar-tiendas.html" class="text-light">
              <li class="pb-4">Buscar Tiendas</li>
            </a>
          </ul>
        </div>

      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/df61a8667b.js" crossorigin="anonymous"></script>

  <script src="../assets/js/crearNavFooterTemplates.js"></script>
  <script src="../assets/js/calcularAlturaNav.js"></script>
  <script src="../assets/js/modificarFrameMapa.js"></script>
</body>

</html>