<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sigmar+One&display=swap"
    rel="stylesheet">
  <link href="../assets/css/estilos.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../assets/css/contacto.css">
  <link rel="stylesheet" href="../assets/css/buscador.css">
  <link rel="icon" href="../assets/img/logo-white.png">
  <title>Proyecto Cygnus - Envios y devoluciones</title>
</head>

<body>
  <header>
    <div class="bg-principal" id="divNavSuperior">

    </div>

    <div class="bg-principal" id="divNavInferior">

    </div>
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-sm-12 col-md-6" id="resultados-busqueda">

        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="container py-5 mt-4">
      <div class="row">
        <div class="col" id="envio-devol">
          <h3>Pol&iacute;tica de env&iacute;o:</h3>

          <p class="text-justify">Una vez confirmado el pedido realizado en <strong>Cygnus</strong>
            recibir&aacute;s tu número de pedido al correo electrónico registrado previamente
            al realizar la compra. El tiempo estimado de entrega hasta el domicilio señalado
            será desde 48 hrs hábiles.
            <strong>El costo de env&iacute;o es de $50 pesos para CDMX y Estado de M&eacute;xico y de $100
            </strong>para el resto de la Rep&uacute;blica. El costo de env&iacute;o aplica por pedido, es
            decir, puedes agregar 10 art&iacute;culos y pagar&aacute;s un s&oacute;lo env&iacute;o para
            todos. No hay m&iacute;nimo de compra.
          </p>

          <p>Todos nuestros pagos son contra entrega y puedes pagar en efectivo o tarjeta. El repartidor
            podr&aacute; contactarte para facilitar la entrega.<br />
            Si deseas asistencia, rastreo de tu pedido o factura puedes<strong>&nbsp;escribirnos por
              correo electr&oacute;nico contacto@cygnus.com.mx.</strong></p>

          <h3>Pol&iacute;tica de Devoluciones:</h3>

          <p>Únicamente se aceptar&aacute;n cambios por da&ntilde;os o imperfectos de f&aacute;brica
            que tengan los productos. En caso de solicitar un cambio, el producto deber&aacute; ser
            regresado en las condiciones en las que le fue entregado originalmente, debiendo entregar los
            empaques.</p>

          <p>El cliente podr&aacute; solicitar un cambio de la mercanc&iacute;a adquirida a m&aacute;s
            tardar<strong> 7 d&iacute;as naturales </strong>posteriores a la fecha de entrega del mismo;
            concluido dicho plazo el cliente no podr&aacute; solicitar ning&uacute;n cambio.<br />
            Para solicitar un cambio, el cliente deber&aacute; contactarnos por correo electr&oacute;nico
            donde deber&aacute; incluir la siguiente informaci&oacute;n y
            documentaci&oacute;n:</p>

          <ul>
            <li>N&uacute;mero del pedido que le fue brindado al momento de la compra.</li>
            <li>Foto de la nota de compra, donde se pueda apreciar completa, en caso de no ser posible
              incluir la nota completa en una sola imagen, deber&aacute; enviar las necesarias para
              evidenciar su compra.</li>
            <li>Foto del art&iacute;culo adquirido de Cygnus que desea devolver o cambiar, misma donde se
              aprecie el da&ntilde;o, imperfecto o el motivo del cambio o devoluci&oacute;n.</li>
            <li>Una descripci&oacute;n a detalle de las razones por las que desea cambiar o devolver el
              producto.</li>
          </ul>

          <p>El cambio del producto solicitado por defecto ser&aacute; ejecutado por la empresa<strong> sin
              costo alguno para el Cliente</strong>, en caso de que el Cliente no se encuentre en su
            domicilio el d&iacute;a acordado para realizar la entrega, se podr&aacute; hacer una segunda
            visita en la cual s&iacute; se cobrar&aacute; el gasto de env&iacute;o.
          </p>

          <p>
            Al realizar un pedido,&nbsp;aceptar la entrega de un producto,&nbsp;navegar y/o utilizar el
            sitio de <strong>Cygnus</strong>, est&aacute;s de acuerdo que has le&iacute;do, entendido y acordado
            nuestras&nbsp;pol&iacute;ticas y t&eacute;rminos, adem&aacute;s de&nbsp;cumplir con todas las
            regulaciones listadas en el sitio,&nbsp;declaras y garantizas que al menos tienes 18
            a&ntilde;os.&nbsp;&nbsp;
          </p>

        </div>
      </div>
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto d-block">
          <img src="../assets/img/img-system/envios.svg" class="card-img-top d-none d-md-block" alt="...">
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-principal mt-5 pt-5 pb-5 text-light text-uppercase">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-sm-12 col-md-4 pb-4 pb-md-0">
          <h4 class="font-weight-bold">Contáctanos</h4>
          <ul class="lista pt-4 font-weight-light">
            <li class="pb-4">55 1234 5678</li>
            <li class="pb-4">Síguenos</li>
          </ul>
          <div>
            <a href="https://www.facebook.com/profile.php?id=100081594083664">
              <i class="fa-brands fa-facebook-square h1 mx-2 text-light"></i>
            </a>
            <a href="https://twitter.com/proyecto_cygnus">
              <i class="fa-brands fa-twitter-square h1 mx-2 text-light"></i>
            </a>
            <a href="https://www.instagram.com/proyecto_cygnus/">
              <i class="fa-brands fa-instagram h1 mx-2 text-light"></i>
            </a>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 pb-4 pb-md-0">
          <h4 class="font-weight-bold">Ayuda</h4>
          <ul class="lista pt-4 font-weight-light hiper">
            <a href="contacto.html" class="text-light">
              <li class="pb-4">Contacto</li>
            </a>
            <a href="como-comprar.html" class="text-light">
              <li class="pb-4">¿Cómo comprar?</li>
            </a>
            <a href="envios-devoluciones.html" class="text-light">
              <li class="pb-4">Envíos y devoluciones</li>
            </a>
            <a href="garantias.html" class="text-light">
              <li class="pb-4">Garantías</li>
            </a>
          </ul>
        </div>

        <div class="col-sm-12 col-md-4">
          <h4 class="font-weight-bold">Sobre Nosotros</h4>
          <ul class="lista pt-4 font-weight-light hiper">
            <a href="sobre-nosotros.html" class="text-light">
              <li class="pb-4">Nosotros</li>
            </a>
            <a href="buscar-tiendas.html" class="text-light">
              <li class="pb-4">Buscar Tiendas</li>
            </a>
          </ul>
        </div>

      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/df61a8667b.js" crossorigin="anonymous"></script>
  <script src="../assets/js/crearNavFooterTemplates.js"></script>
  <script src="../assets/js/calcularAlturaNav.js"></script>
  <script src="../assets/api_new.js"></script>
  <script src="../assets/js/buscador.js"></script>


</body>

</html>