<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sigmar+One&display=swap"
    rel="stylesheet">
  <link href="../assets/css/estilos.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/producto.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/buscador.css" rel="stylesheet">
  <link rel="icon" href="../assets/img/logo-white.png">
  <title>Proyecto Cygnus</title>
</head>

<body>
  <header>
    <div class="bg-principal" id="divNavSuperior">

    </div>

    <div class="bg-principal" id="divNavInferior">

    </div>

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-sm-12 col-md-6" id="resultados-busqueda">

        </div>
      </div>
    </div>
  </header>

  <main class="container py-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center titulo pb-4">Productos</h1>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="card bg-transparent border-light h-auto p-3 mb-4 mb-md-0 rounded sticky-top align-self-start"
          id="cardFiltro">
          <form class="text-center" id="formulario-filtrado">
            <div class="d-flex flex-column">
              <label for="">Talla</label>
              <div class="mb-3">
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-talla mx-1 my-1">
                    <input type="checkbox" autocomplete="off" name="XS" value="XS" class="check-talla"> XS
                  </label>
                  <label class="btn btn-talla mx-1 my-1">
                    <input type="checkbox" autocomplete="off" name="S" value="S" class="check-talla"> S
                  </label>
                  <label class="btn btn-talla mx-1 my-1">
                    <input type="checkbox" autocomplete="off" name="M" value="M" class="check-talla"> M
                  </label>
                  <label class="btn btn-talla mx-1 my-1">
                    <input type="checkbox" autocomplete="off" name="G" value="G" class="check-talla"> G
                  </label>
                </div>
              </div>

              <label for="">Color</label>
              <div class="mb-3">
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-color btn-light rounded-circle mx-2 my-1 d-none">
                    <input type="checkbox" autocomplete="off" name="Blanco" value="Blanco" class="check-color">
                  </label>
                  <label class="btn btn-color btn-primary rounded-circle mx-2 my-1 d-none">
                    <input type="checkbox" autocomplete="off" name="Azul" value="Azul" class="check-color">
                  </label>
                  <label class="btn btn-color btn-principal rounded-circle mx-2 my-1 d-none">
                    <input type="checkbox" autocomplete="off" name="Morado" value="Morado" class="check-color">
                  </label>
                  <label class="btn btn-color btn-dark rounded-circle mx-2 my-1 d-none">
                    <input type="checkbox" autocomplete="off" name="Negro" value="Negro" class="check-color">
                  </label>
                  <label class="btn btn-color btn-danger rounded-circle mx-2 my-1 d-none">
                    <input type="checkbox" autocomplete="off" name="Rojo" value="Rojo" class="check-color">
                  </label>
                  <label class="btn btn-color btn-secondary rounded-circle mx-2 my-1 d-none">
                    <input type="checkbox" autocomplete="off" name="Gris" value="Gris" class="check-color">
                  </label>
                </div>
              </div>

              <label for="rango-precio">
                Precio
                <span id="mostrar-precio">$300</span>
              </label>
              <input type="range" class="form-range mb-3" id="rango-precio" max="500" min="200" step="10" value="300">
              <button type="submit" class="btn btn-principal mt-3 border-0 btn-lg" id="btn-buscar">Buscar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9 ">
        <div class="row " id="productos">

        </div>
      </div>
    </div>
  </main>

  <footer class="bg-principal mt-5 pt-5 pb-5 text-light text-uppercase">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-sm-12 col-md-4 pb-4 pb-md-0">
          <h4 class="font-weight-bold">Contáctanos</h4>
          <ul class="lista pt-4 font-weight-light">
            <li class="pb-4">55 1234 5678</li>
            <li class="pb-4">Síguenos</li>
          </ul>
          <div>
            <a href="https://www.facebook.com/profile.php?id=100081594083664">
              <i class="fa-brands fa-facebook-square h1 mx-2 text-light"></i>
            </a>
            <a href="https://twitter.com/proyecto_cygnus">
              <i class="fa-brands fa-twitter-square h1 mx-2 text-light"></i>
            </a>
            <a href="https://www.instagram.com/proyecto_cygnus/">
              <i class="fa-brands fa-instagram h1 mx-2 text-light"></i>
            </a>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 pb-4 pb-md-0">
          <h4 class="font-weight-bold">Ayuda</h4>
          <ul class="lista pt-4 font-weight-light hiper">
            <a href="contacto.html" class="text-light">
              <li class="pb-4">Contacto</li>
            </a>
            <a href="como-comprar.html" class="text-light">
              <li class="pb-4">¿Cómo comprar?</li>
            </a>
            <a href="envios-devoluciones.html" class="text-light">
              <li class="pb-4">Envios y devoluciones</li>
            </a>
            <a href="garantias.html" class="text-light">
              <li class="pb-4">Garantias</li>
            </a>
          </ul>
        </div>

        <div class="col-sm-12 col-md-4">
          <h4 class="font-weight-bold">Sobre Nosotros</h4>
          <ul class="lista pt-4 font-weight-light hiper">
            <a href="sobre-nosotros.html" class="text-light">
              <li class="pb-4">Nosotros</li>
            </a>
            <a href="buscar-tiendas.html" class="text-light">
              <li class="pb-4">Buscar Tiendas</li>
            </a>
          </ul>
        </div>

      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/df61a8667b.js" crossorigin="anonymous"></script>

  <script src="../assets/api_new.js"></script>
  <script src="../assets/js/productos.js"></script>
  <script src="../assets/js/crearNavFooterTemplates.js"></script>
  <script src="../assets/js/calcularAlturaNav.js"></script>
  <script src="../assets/js/buscador.js"></script>

</body>

</html>