
    {
        "nombre_producto":"Hoodie Grogu",
        "talla": "XS",
        "descripcion":"Hoodie termica con estampado de grogu y bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":220,
        "costo":120
    }
    {
        "ruta":"HDA1-FR.png",
        "productos":{
            "id":1
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":1
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":1
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":1
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"S",
        "descripcion":"Hoodie termica con estampado de grogu y bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":220,
        "costo":120
    }
    {
        "ruta":"HDA1-FR.png",
        "productos":{
            "id":2
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":2
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":2
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":2
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"M",
        "descripcion":"Hoodie termica con estampado de grogu y bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":220,
        "costo":120
    }
    {
        "ruta":"HDA1-FR.png",
        "productos":{
            "id":3
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":3
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":3
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":3
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"G",
        "descripcion":"Hoodie termica con estampado de grogu y bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":220,
        "costo":120
    }
    {
        "ruta":"HDA1-FR.png",
        "productos":{
            "id":4
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":4
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":4
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":4
        }
    }
    {
        "nombre_producto":"Hoodie Espiral Grogu",
        "talla": "XS",
        "descripcion":"Hoodie termica con estampado de grogu en espiral,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDA2-FR.png",
        "productos":{
            "id":5
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":5
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":5
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":5
        }
    }
    {
        "nombre_producto":"Hoodie Espiral Grogu",
        "talla": "S",
        "descripcion":"Hoodie termica con estampado de grogu en espiral,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDA2-FR.png",
        "productos":{
            "id":6
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":6
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":6
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":6
        }
    }
    {
        "nombre_producto":"Hoodie Espiral Grogu",
        "talla": "M",
        "descripcion":"Hoodie termica con estampado de grogu en espiral,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDA2-FR.png",
        "productos":{
            "id":7
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":7
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":7
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":7
        }
    }
    {
        "nombre_producto":"Hoodie Espiral Grogu",
        "talla":"G",
        "descripcion":"Hoodie termica con estampado de grogu en espiral,con bolsillo de canguro.",
        "categoria": "Hoodie",
        "color":"Azul",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDA2-FR.png",
        "productos":{
            "id":8
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":8
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":8
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":8
        }
    }
    {
        "nombre_producto":"Hoddie Grogu Star-wars",
        "talla": "XS",
        "descripcion":"Hoodie térmica con estampado de grogu en logo tipo "s",con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":230,
        "costo":130
    }
    {
        "ruta":"HDA3-FR.png",
        "productos":{
            "id":9
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":9
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":9
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":9
        }
    }   
    {
        "nombre_producto":"Hoddie Grogu Star-wars",
        "talla":"S",
        "descripcion":"Hoodie térmica con estampado de grogu en logo tipo "s",con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":230,
        "costo":130
    }
    {
        "ruta":"HDA3-FR.png",
        "productos":{
            "id":10
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":10
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":10
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":10
        }
    } 
    {
        "nombre_producto":"Hoddie Grogu Star-wars",
        "talla": "M",
        "descripcion":"Hoodie térmica con estampado de grogu en logo tipo "s",con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":230,
        "costo":130
    }
    {
        "ruta":"HDA3-FR.png",
        "productos":{
            "id":11
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":11
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":11
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":11
        }
    } 
    {
        "nombre_producto":"Hoddie Grogu Star-wars",
        "talla":"G",
        "descripcion":"Hoodie térmica con estampado de grogu en logo tipo "s",con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":230,
        "costo":130
    }
    {
        "ruta":"HDA3-FR.png",
        "productos":{
            "id":12
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":12
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":12
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":12
        }
    } 
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla": "XS",
        "descripcion":"Hoodie térmica con estampado de mandalorian en color verde,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":240,
        "costo":140
    }
    {
        "ruta":"HDA4-FR.png",
        "productos":{
            "id":13
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":13
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":13
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":13
        }
    } 
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla": "S",
        "descripcion":"Hoodie térmica con estampado de mandalorian en color verde,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":240,
        "costo":140
    }
    {
        "ruta":"HDA4-FR.png",
        "productos":{
            "id":14
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":14
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":14
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":14
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla": "M",
        "descripcion":"Hoodie térmica con estampado de mandalorian en color verde,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":240,
        "costo":140
    }
    {
        "ruta":"HDA4-FR.png",
        "productos":{
            "id":15
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":15
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":15
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":15
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla": "G",
        "descripcion":"Hoodie térmica con estampado de mandalorian en color verde,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":240,
        "costo":140
    }
    {
        "ruta":"HDA4-FR.png",
        "productos":{
            "id":16
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":16
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":16
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":16
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla": "XS",
        "descripcion":"Hoodie térmica con estampado de mandalorian , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":350,
        "costo":150
    }
    {
        "ruta":"HDA5-FR.png",
        "productos":{
            "id":17
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":17
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":17
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":17
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla": "S",
        "descripcion":"Hoodie térmica con estampado de mandalorian , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":350,
        "costo":140
    }
    {
        "ruta":"HDA5-FR.png",
        "productos":{
            "id":18 
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":18 
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":18
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":18
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla": "M",
        "descripcion":"Hoodie térmica con estampado de mandalorian , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":350,
        "costo":140
    }
    {
        "ruta":"HDA5-FR.png",
        "productos":{
            "id":19
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":19
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":19
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":19
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla": "G",
        "descripcion":"Hoodie térmica con estampado de mandalorian , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":350,
        "costo":140
    }
    {
        "ruta":"HDA5-FR.png",
        "productos":{
            "id":20
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":20
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":20
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":20
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian y Grogu",
        "talla": "XS",
        "descripcion":"Hoodie térmica con estampado de mandalorian , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":250,
        "costo":150
    }
    {
        "ruta":"HDA6-FR.png",
        "productos":{
            "id":21
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":21
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":21
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":21
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian y Grogu",
        "talla": "S",
        "descripcion":"Hoodie térmica con estampado de mandalorian , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":250,
        "costo":150
    }
    {
        "ruta":"HDA6-FR.png",
        "productos":{
            "id":22
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":22
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":22
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":22
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian y Grogu",
        "talla":"M",
        "descripcion":"Hoodie térmica con estampado de mandalorian , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":250,
        "costo":150
    }
    {
        "ruta":"HDA6-FR.png",
        "productos":{
            "id":23
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":23
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":23
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":23
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian y Grogu",
        "talla":"G",
        "descripcion":"Hoodie térmica con estampado de mandalorian , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Azul",
        "precio":250,
        "costo":150
    }
    {
        "ruta":"HDA6-FR.png",
        "productos":{
            "id":24
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":24
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":24
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":24
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"XS",
        "descripcion":"Hoodie térmica con estampado de mandalorian , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":270,
        "costo":170
    }
    {
        "ruta":"HDA6-FR.png",
        "productos":{
            "id":25
        }
    }
    {
        "ruta":"HDA-DER.png",
        "productos":{
            "id":25
        }
    }
    
    {
        "ruta":"HDA-IZQ.png",
        "productos":{
            "id":25
        }
    }
    
    {
        "ruta":"HDA-ATR.png",
        "productos":{
            "id":25
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla": "S",
        "descripcion":"Hoodie termica con estampado de grogu , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color": "Blanco",
        "precio": 270,
        "costo": 170
    }
    {
        "ruta":"HDB1-FR.png",
        "productos":{
            "id":26
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":26
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":26
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":26
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla": "M",
        "descripcion":"Hoodie termica con estampado de grogu , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":270,
        "costo":170
    }
    {
        "ruta":"HDB1-FR.png",
        "productos":{
            "id":27
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":27
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":27
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":27
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla": "G",
        "descripcion":"Hoodie termica con estampado de grogu , con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":270,
        "costo":170
    }
    {
        "ruta":"HDB1-FR.png",
        "productos":{
            "id":28
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":28
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":28
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":28
        }
    }
    {
        "nombre_producto":"Hoodie Espiral Grogu",
        "talla": "XS",
        "descripcion":"Hoodie termica con estampado de grogu en espiral, con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":270,
        "costo":170
    }
    {
        "ruta":"HDB2-FR.png",
        "productos":{
            "id":29
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":29
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":29
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":29
        }
    }
    {
        "nombre_producto":"Hoodie Espiral Grogu",
        "talla": "S",
        "descripcion":"Hoodie termica con estampado de grogu en espiral, con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":270,
        "costo":170
    }
    {
        "ruta":"HDB2-FR.png",
        "productos":{
            "id":30
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":30
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":30
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":30
        }
    }
    {
        "nombre_producto":"Hoodie Espiral Grogu",
        "talla": "M",
        "descripcion":"Hoodie termica con estampado de grogu en espiral, con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":270,
        "costo":170
    }
    {
        "ruta":"HDB2-FR.png",
        "productos":{
            "id":31
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":31
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":31
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":31
        }
    }
    {
        "nombre_producto":"Hoodie Espiral Grogu",
        "talla": "G",
        "descripcion":"Hoodie termica con estampado de grogu en espiral, con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":270,
        "costo":170
    }
    {
        "ruta":"HDB2-FR.png",
        "productos":{
            "id":32
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":32
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":32
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":32
        }
    }
    {
        "nombre_producto":"Hoddie Grogu Star-wars",
        "talla":"XS",
        "descripcion":"Hoodie termica con estampado de grogu en logo tipo "s",con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDB3-FR.png",
        "productos":{
            "id":33
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":33
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":33
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":33
        }
    }
    {
        "nombre_producto":"Hoddie Grogu Star-wars",
        "talla":"S",
        "descripcion":"Hoodie termica con estampado de grogu en logo tipo "s",con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDB3-FR.png",
        "productos":{
            "id":34
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":34
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":34
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":34
        }
    }
    {
        "nombre_producto":"Hoddie Grogu Star-wars",
        "talla":"M",
        "descripcion":"Hoodie termica con estampado de grogu en logo tipo "s",con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDB3-FR.png",
        "productos":{
            "id":35
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":35
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":35
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":35
        }
    }
    {
        "nombre_producto":"Hoddie Grogu Star-wars",
        "talla":"G",
        "descripcion":"Hoodie termica con estampado de grogu en logo tipo "s",con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDB3-FR.png",
        "productos":{
            "id":36
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":36
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":36
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":36
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla":"XS",
        "descripcion":"Hoodie termica con estampado de mandalorian en color verde,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":285,
        "costo":185
    }
    {
        "ruta":"HDB4-FR.png",
        "productos":{
            "id":37
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":37
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":37
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":37
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla":"S",
        "descripcion":"Hoodie termica con estampado de mandalorian en color verde,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":285,
        "costo":185
    }
    {
        "ruta":"HDB4-FR.png",
        "productos":{
            "id":38
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":38
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":38
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":38
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla":"M",
        "descripcion":"Hoodie termica con estampado de mandalorian en color verde,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":285,
        "costo":185
    }
    {
        "ruta":"HDB4-FR.png",
        "productos":{
            "id":39
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":39
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":39
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":39
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla":"G",
        "descripcion":"Hoodie termica con estampado de mandalorian en color verde,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":285,
        "costo":185
    }
    {
        "ruta":"HDB4-FR.png",
        "productos":{
            "id":40
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":40
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":40
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":40
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla":"XS",
        "descripcion":"Hoodie termica con estampado de mandalorian en color blanco,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":285,
        "costo":185
    }
    {
        "ruta":"HDB5-FR.png",
        "productos":{
            "id":41
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":41
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":41
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":41
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla":"S",
        "descripcion":"Hoodie termica con estampado de mandalorian en color blanco,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":285,
        "costo":185
    }
    {
        "ruta":"HDB5-FR.png",
        "productos":{
            "id":42
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":42
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":42
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":42
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla":"M",
        "descripcion":"Hoodie termica con estampado de mandalorian en color blanco,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":285,
        "costo":185
    }
    {
        "ruta":"HDB5-FR.png",
        "productos":{
            "id":43
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":43
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":43
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":43
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian",
        "talla":"G",
        "descripcion":"Hoodie termica con estampado de mandalorian en color blanco,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":285,
        "costo":185
    }
    {
        "ruta":"HDB5-FR.png",
        "productos":{
            "id":44
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":44
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":44
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":44
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian y Grogu",
        "talla":"XS",
        "descripcion":"Hoodie termica con estampado de mandalorian,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":275,
        "costo":175
    }
    {
        "ruta":"HDB6-FR.png",
        "productos":{
            "id":45
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":45
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":45
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":45
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian y Grogu",
        "talla":"S",
        "descripcion":"Hoodie termica con estampado de mandalorian,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":275,
        "costo":175
    }
    {
        "ruta":"HDB6-FR.png",
        "productos":{
            "id":46
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":46
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":46
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":46
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian y Grogu",
        "talla":"M",
        "descripcion":"Hoodie termica con estampado de mandalorian,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":275,
        "costo":175
    }
    {
        "ruta":"HDB6-FR.png",
        "productos":{
            "id":47
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":47
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":47
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":47
        }
    }
    {
        "nombre_producto":"Hoodie Mandalorian y Grogu",
        "talla":"G",
        "descripcion":"Hoodie termica con estampado de mandalorian,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Blanco",
        "precio":275,
        "costo":175
    }
    {
        "ruta":"HDB6-FR.png",
        "productos":{
            "id":48
        }
    }
    {
        "ruta":"HDB-DER.png",
        "productos":{
            "id":48
        }
    }
    
    {
        "ruta":"HDB-IZQ.png",
        "productos":{
            "id":48
        }
    }
    
    {
        "ruta":"HDB-ATR.png",
        "productos":{
            "id":48
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"XS",
        "descripcion":"Hoodie termica con estampado de mandalorian,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Negro",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDN1-FR.png",
        "productos":{
            "id":49
        }
    }
    {
        "ruta":"HDN-DER.png",
        "productos":{
            "id":49
        }
    }
    
    {
        "ruta":"HDN-IZQ.png",
        "productos":{
            "id":49
        }
    }
    
    {
        "ruta":"HDN-ATR.png",
        "productos":{
            "id":49
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"S",
        "descripcion":"Hoodie termica con estampado de mandalorian,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Negro",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDN1-FR.png",
        "productos":{
            "id":50
        }
    }
    {
        "ruta":"HDN-DER.png",
        "productos":{
            "id":50
        }
    }
    
    {
        "ruta":"HDN-IZQ.png",
        "productos":{
            "id":50
        }
    }
    
    {
        "ruta":"HDN-ATR.png",
        "productos":{
            "id":50
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"G",
        "descripcion":"Hoodie termica con estampado de mandalorian,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Negro",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDN1-FR.png",
        "productos":{
            "id":51
        }
    }
    {
        "ruta":"HDN-DER.png",
        "productos":{
            "id":51
        }
    }
    
    {
        "ruta":"HDN-IZQ.png",
        "productos":{
            "id":51
        }
    }
    
    {
        "ruta":"HDN-ATR.png",
        "productos":{
            "id":51
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"G",
        "descripcion":"Hoodie termica con estampado de mandalorian,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Negro",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDN1-FR.png",
        "productos":{
            "id":52
        }
    }
    {
        "ruta":"HDN-DER.png",
        "productos":{
            "id":52
        }
    }
    
    {
        "ruta":"HDN-IZQ.png",
        "productos":{
            "id":52
        }
    }
    
    {
        "ruta":"HDN-ATR.png",
        "productos":{
            "id":52
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"XS",
        "descripcion":"Hoodie termica con estampado de grogu en espiral,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Negro",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDN2-FR.png",
        "productos":{
            "id":53
        }
    }
    {
        "ruta":"HDN-DER.png",
        "productos":{
            "id":53
        }
    }
    
    {
        "ruta":"HDN-IZQ.png",
        "productos":{
            "id":53
        }
    }
    
    {
        "ruta":"HDN-ATR.png",
        "productos":{
            "id":53
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"S",
        "descripcion":"Hoodie termica con estampado de grogu en espiral,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Negro",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDN2-FR.png",
        "productos":{
            "id":54
        }
    }
    {
        "ruta":"HDN-DER.png",
        "productos":{
            "id":54
        }
    }
    
    {
        "ruta":"HDN-IZQ.png",
        "productos":{
            "id":54
        }
    }
    
    {
        "ruta":"HDN-ATR.png",
        "productos":{
            "id":54
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"M",
        "descripcion":"Hoodie termica con estampado de grogu en espiral,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Negro",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDN2-FR.png",
        "productos":{
            "id":55
        }
    }
    {
        "ruta":"HDN-DER.png",
        "productos":{
            "id":55
        }
    }
    
    {
        "ruta":"HDN-IZQ.png",
        "productos":{
            "id":55
        }
    }
    
    {
        "ruta":"HDN-ATR.png",
        "productos":{
            "id":55
        }
    }
    {
        "nombre_producto":"Hoodie Grogu",
        "talla":"G",
        "descripcion":"Hoodie termica con estampado de grogu en espiral,con bolsillo de canguro.",
        "categoria":"Hoodie",
        "color":"Negro",
        "precio":280,
        "costo":180
    }
    {
        "ruta":"HDN2-FR.png",
        "productos":{
            "id":56
        }
    }
    {
        "ruta":"HDN-DER.png",
        "productos":{
            "id":56
        }
    }
    
    {
        "ruta":"HDN-IZQ.png",
        "productos":{
            "id":56
        }
    }
    
    {
        "ruta":"HDN-ATR.png",
        "productos":{
            "id":56
        }
    }